@page "/Brokers/edit/{BrokerId:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Broker Edit</PageTitle>


<h3><i class="bi bi-pencil-square"></i> Edit Broker</h3>

@if (broker is null)
{
    <div class="spinner" />
}
else
{
    <BrokerForm Broker="broker" OnValidSubmit="Edit" ReturnAction="Return" />
    
}

@code {
    [Parameter] 
    public int BrokerId { get; set; }
    private Broker broker = new();


    protected override async Task OnInitializedAsync()
    {

        var responseHTTP = await repository.GetAsync<Broker>($"api/Brokers/{BrokerId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {

                navigationManager.NavigateTo("Brokers");
                return;
            }
            else
            {  
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
                return;
            }
        }
        else
        {
        
            broker = responseHTTP.Response;
        }
    }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private async Task Edit()
    {

        var responseHTTP = await repository.PutAsync("api/brokers", broker);

        if (responseHTTP.Error)
        {
          
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            await BlazoredModal.CloseAsync(ModalResult.Ok());
            Return();

        
            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000
                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Broker modified successfully");

        }
    }
       
    
    private void Return()
    {
        navigationManager.NavigateTo("brokers");
    }
}
