@page "/Strategies/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Strategy Create</PageTitle>


<h3><i class="bi bi-plus-circle"></i> Strategy Creation</h3>


<StrategyForm Strategy="strategy" OnValidSubmit="Create" ReturnAction="Return" />


@code {
    private Strategy strategy = new();


    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/Strategies", strategy);

        if (responseHttp.Error)
        {
            
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            await BlazoredModal.CloseAsync(ModalResult.Ok());
            Return();

            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Strategy successfully created");
        }
    }



   
    private void Return()
    {
        navigationManager.NavigateTo("/Strategies");


    }

}