@inject IRepository Repository
@attribute [Authorize(Roles = "Admin")]

<EditForm Model="AccType" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>

    <div class="form-floating mb-3">
        <InputText class="form-control" id="floatingInput" placeholder="Name " @bind-Value="@AccType.Name" />
        <label for="floatingInput">Name:</label>
        <ValidationMessage For="@(() => AccType.Name)" />
    </div>
        
    <button class="btn btn-dark" type="submit">Save <i class="bi bi-floppy2"></i></button>
    <button class="btn btn-info" type="reset">Clean <i class="bi bi-x-octagon"></i></button>
    <button class="btn btn-secondary" @onclick="ReturnAction">Return <i class="bi bi-arrow-clockwise"></i></button>
</EditForm>

@code {

    [EditorRequired]
    [Parameter]
    public AccType AccType { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


}
