@page "/TraderTypes/create"
@using TradingJournal.Shared.Entities
@using TradingJournal.Web.Repositories
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]


<h3>Trader Type Creation</h3>


<TraderTypeForm TraderType="tradertype" OnValidSubmit="Create" ReturnAction="Return" />


@code {
    private TraderType tradertype = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/tradertypes", tradertype);

        if (responseHttp.Error)
        {
            //if any error its encountered the sweet alert whit the error message pop up
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            
            Return();

            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Trader Type successfully created");
        }
    }



   
    private void Return()
    {
        navigationManager.NavigateTo("/tradertypes");


    }

}