@* Edit of budget *@
@page "/account/edit/{AccountAccNumber:int}"
@using TradingJournal.Shared.Entities
@using TradingJournal.Web.Repositories
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Edit Account</h3>

@if (account is null)
{
    <p>the account is null</p>
}
else
{   @* The form is called and when the submit is valid the Edit method is called and finally the Return method *@
    <AccountForm Account="account" OnValidSubmit="Editar" ReturnAction="Return" />
    
}

@code {
    [Parameter] 
    public int AccountAccNumber { get; set; }
    private Account account = new();

    //this method get the info of the object by Id and show in the form
    protected override async Task OnInitializedAsync()
    {

        var responseHTTP = await repository.GetAsync<Account>($"api/account/{AccountAccNumber}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                //if the page its not found return to home
                navigationManager.NavigateTo("account");
                return;
            }
            else
            {  //if any error its encountered the sweet alert whit the error message pop up
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
                return;
            }
        }
        else
        {
            //if the get its sucesfull return the object whit the info
            account = responseHTTP.Response;
        }
    }

    private async Task Editar()
    {

        var responseHTTP = await repository.PutAsync("api/account", account);

        if (responseHTTP.Error)
        {
            //if any error its encountered the sweet alert whit the error message pop up
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            Return();

            //if the Edit its succesfull the toast whit the sucessfull confirmation popup
            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "account modified successfully");

        }
    }
       
    
    private void Return()
    {
        navigationManager.NavigateTo("accounts");

    }
}
