@page "/"


<PageTitle>Home</PageTitle>

<h1><p style="text-align: center;">WELCOME TO TRADING JOURNAL</p></h1>




<style>
    div {
        text-align: center;
    }
</style>

<div>
    <img src="">
</div>
