@page "/Haves/edit/{HaveId:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Edit Have</h3>

@if (have is null)
{
    <p>the have is null</p>
}
else
{
    <HaveForm Have="have" OnValidSubmit="Edit" ReturnAction="Return" />
    
}

@code {
    [Parameter] 
    public int HaveId { get; set; }
    private Have have = new();


    protected override async Task OnInitializedAsync()
    {

        var responseHTTP = await repository.GetAsync<Have>($"api/Haves/{HaveId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {

                navigationManager.NavigateTo("Haves");
                return;
            }
            else
            {  
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
                return;
            }
        }
        else
        {
        
            have = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {

        var responseHTTP = await repository.PutAsync("api/Haves", have);

        if (responseHTTP.Error)
        {
          
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            Return();

        
            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000
                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Have modified successfully");

        }
    }
       
    
    private void Return()
    {
        navigationManager.NavigateTo("Haves");
    }
}
