@page "/Haves/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]


<h3>Broker Creation</h3>


<HaveForm Have="have" OnValidSubmit="Create" ReturnAction="Return" />


@code {
    private Have have = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/haves", have);

        if (responseHttp.Error)
        {
            
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            
            Return();

            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Have successfully created");
        }
    }



   
    private void Return()
    {
        navigationManager.NavigateTo("/haves");


    }

}