@page "/Markets/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]


<h3><i class="bi bi-plus-circle"></i> Market Creation</h3>


<MarketForm Market="market" OnValidSubmit="Create" ReturnAction="Return" />


@code {
    private Market market = new();


    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/Markets", market);

        if (responseHttp.Error)
        {
            
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            await BlazoredModal.CloseAsync(ModalResult.Ok());
            Return();

            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Market successfully created");
        }
    }



   
    private void Return()
    {
        navigationManager.NavigateTo("/Markets");


    }

}