@page "/Markets/create"
@using TradingJournal.Shared.Entities
@using TradingJournal.Web.Repositories
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]


<h3>Market Creation</h3>


<MarketForm Market="market" OnValidSubmit="Create" ReturnAction="Return" />


@code {
    private Market market = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/Markets", market);

        if (responseHttp.Error)
        {
            
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            
            Return();

            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Market successfully created");
        }
    }



   
    private void Return()
    {
        navigationManager.NavigateTo("/Markets");


    }

}