@page "/Trades"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]
@using TradingJournal.Shared.Entities
@using TradingJournal.Web.Repositories
@using TradingJournal.Web.Shared
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h3><i class="bi bi-bar-chart-line-fill" /> Trades</h3>
<div class="card">
    <div class="card-header">
        <span>
            <a class="btn btn-primary btn-sm float-start" href="/Trades/create"><i class="bi bi-plus-circle" /> New Trade</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="Trades">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td>
                                <b>Trade Id</b>
                            </td>
                            
                            <td>
                                <b>Trader</b>
                            </td>
                            <td>
                                <b>Market</b>
                            </td>

                        </tr>
                        @foreach (var trade in Trades!)
                        {
                            TraderName(trade.TradersId);
                            MarketName(trade.MarketsCode);
                            <tr>
                                <td>
                                    @trade.Id
                                </td>
                                <td>
                                    @tradername
                                </td>
                                <td>
                                    @marketname
                                </td>


                                <td>
                                    <a href="/Trades/edit/@trade.Id" class="btn btn-warning">Edit <i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-danger" @onclick=@(() => Delete(trade))>Delete <i class="bi bi-trash3"></i></button>
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>

            </Body>

        </GenericList>
    </div>
</div>



@code {

    public string tradername { get; set; }

    public string marketname { get; set; }

    public List<Trade> Trades { get; set; }

    public List<Trader> Traders { get; set; }

    public List<Market> Markets { get; set; }


    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }



    private async Task Charging()
    {
        var responseHTTP = await Repository.GetAsync<List<Trade>>("/api/Trades");
        Trades = responseHTTP.Response!;

        var response2HTTP = await Repository.GetAsync<List<Market>>("/api/Markets");
        Markets = response2HTTP.Response!;

        var response3HTTP = await Repository.GetAsync<List<Trader>>("/api/traders");
        Traders = response3HTTP.Response!;



    }


    private async Task Delete(Trade trade)
    {

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirm",
                Text = $"You really want to delete the Trade : {trade.Id}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "yes"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"/api/trades/{trade.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/trades");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {

            await Charging();

            var toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    ShowConfirmButton = true,
                    Timer = 3000,
                    Position = SweetAlertPosition.BottomEnd
                });
            toast.FireAsync(icon: SweetAlertIcon.Success, message: "Trade Successfully Deleted.");
        }
    }

    private void TraderName(int? selection)

    {
        tradername = "";
        foreach (var trader in Traders!)
        {
            if (selection == trader.Id)
            {
                tradername = trader.Name;
            }

        }
    }

    private void MarketName(int? selection)

    {
        marketname = "";
        foreach (var market in Markets!)
        {
            if (selection == market.Code)
            {
                marketname = market.Name;
            }

        }
    }
}